body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav a i {
  font-size: 20px;
  color: white;
  transition: color 0.3s;
}

nav a i:hover {
  color: #FFD700; /* Warna saat hover */
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.gallery {
  display: flex;
  flex-wrap: nowrap; /* Tidak turun ke bawah */
  overflow-x: auto;   /* Bisa digeser ke samping */
  gap: 10px;
  padding: 10px;
}

.gallery img {
  max-width: 300px;
  height: auto;
  flex-shrink: 0; /* Supaya tidak mengecil */
  border-radius: 10px;
}

form button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
}
